.add {
    display: flex;
    flex-direction: row;
    height: 7rem;
    width: 50rem;

    justify-self: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1 1 20rem;


}

.field input {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.field h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    width: 100%;


}

.addButton {
    height: 4rem;
    width: 6rem;
}