.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;


}

.actions {
    display: flex;
    height: 2rem;
    gap: 0.25rem;

}

.editingActions {
    display: flex;
    height: 2rem;
    gap: 0.25rem;
    margin-top: 1.5rem;
}

.editing {
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    border: 0.2rem solid #d2d2d2df;
    padding: 0.3rem;



}