.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 0.7rem;
    border: 0.2rem solid #d5d4d492;
    margin: 0.2rem;
    padding: 0.2rem;
}

#nonAssignmentInfo:hover {
    color: #689ff1;
    transform: scale(1.05);
    cursor: pointer;
    text-decoration: underline;
}

.itemInfo {
    display: flex;
    gap: 1rem;
    align-items: center;



}

.actions {
    display: flex;
    height: 2rem;
    gap: 0.25rem;

}

.editingActions {
    display: flex;
    height: 2rem;
    gap: 0.25rem;
    margin-top: 1.5rem;
}

.editing {
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    border: 0.2rem solid #d2d2d2df;
    padding: 0.3rem;



}