.items {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;


}

.list button {
    height: 2rem;

}